*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --bg: #0f0f0f;
  --surface: #161616;
  --surface2: #1e1e1e;
  --border: #2a2a2a;
  --border2: #333;
  --text: #ffffff;
  --text1: #ffffffe8;
  --text2: #999999;
  --text3: #646464;
  --accent: #c8f069;
  --accent2:#b9e26163;
  --pass: #4ade80;
  --fail: #f87171;
  --info: #38bdf8;
  --skip: #555;
  --font-sans: 'DM Sans', sans-serif;
  --font-serif: 'Instrument Serif', serif;
  --font-mono: 'DM Mono', monospace;
}

html {
  overflow-y: scroll;
}

body {
  background: var(--bg);
  color: var(--text);
  font-family: var(--font-sans);
  font-size: 14px;
  line-height: 1.6;
  min-height: 100vh;
}